<?xml version="1.0"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">

  <menuitem name="menu-administration" title="Administration" order="14"/>

  <menuitem name="menu-sector-view" parent="menu-administration" title="Liste des secteurs"
    action="action-sector-view"/>

  <menuitem name="menu-lot-nature-view" parent="menu-administration"
    title="Liste des natures de lot" action="action-lot-nature-view"/>

  <action-view name="action-sector-view" title="Liste des secteurs"
    model="com.axelor.apps.openauction.db.Sector">
    <view type="grid" name="sector-grid"/>
    <view type="form" name="sector-form"/>
  </action-view>

  <action-view name="action-lot-nature-view" title="Liste des natures de lot"
    model="com.axelor.apps.openauction.db.LotNature">
    <view type="grid" name="lot-nature-grid"/>
    <view type="form" name="lot-nature-form"/>
  </action-view>

</object-views>
