<?xml version="1.0"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.4.xsd">

  <menuitem name="menu-modele" title="Modèles" order="13"/>

  <menuitem name="menu-model-mission" parent="menu-modele" title="Modèles de mission"
    action="model.mission.all"/>
  <action-view name="model.mission.all" title="Modèles de mission"
    model="com.axelor.apps.openauction.db.MissionTemplate">
    <view type="grid" name="mission-template-grid"/>
    <view type="form" name="mission-template-form"/>
  </action-view>

  <menuitem name="menu-model-contact" parent="menu-modele" title="Modèles de contact"
    action="model.contact.all"/>
  <action-view name="model.contact.all" title="Modèles de contact"
    model="com.axelor.apps.openauction.db.ContactTemplate">
    <view type="grid" name="contact-template-grid"/>
    <view type="form" name="contact-template-form"/>
  </action-view>

  <menuitem name="menu-template-lot" parent="menu-modele" title="Modèles de lot"
    action="model.lot.all"/>
  <action-view name="model.lot.all" title="Liste des modèles de lot"
    model="com.axelor.apps.openauction.db.LotTemplate">
    <view type="grid" name="lot-template-list-grid"/>
    <view type="form" name="lot-template-card-form"/>
  </action-view>

  <menuitem name="menu-template-vente-all" parent="menu-modele"
    title="Liste des modèles de ventes" action="vente.template.all"/>
  <action-view name="vente.template.all" title="Modèles de ventes"
    model="com.axelor.apps.openauction.db.AuctionTemplate">
    <view type="grid" name="auction-template-grid"/>
    <view type="form" name="auction-template-form"/>
  </action-view>

  <menuitem name="menu-template-activity-all" parent="menu-modele"
    title="Liste des activités" action="activity.all"/>
  <action-view name="activity.all" title="Liste des activités"
    model="com.axelor.apps.openauction.db.ActivityHeader">
    <view type="grid" name="activity-header-grid"/>
    <view type="form" name="activity-header-form"/>
  </action-view>

  <menuitem name="menu-service-template-all" parent="menu-modele"
    title="Liste des modèles de prestation" action="service.template.all"/>
  <action-view name="service.template.all" title="Liste des modèles de prestation"
    model="com.axelor.apps.openauction.db.ServiceTemplate">
    <view type="grid" name="service-template-grid"/>
    <view type="form" name="service-template-form"/>
  </action-view>


  <menuitem name="contact-template-wizard-menu" parent="menu-modele"
    title="Créer un contact depuis un modèle" action="contact.template.wizard"/>
  <action-view name="contact.template.wizard" title="Créer un contact depuis un modèle"
    model="com.axelor.apps.base.db.Wizard">
    <view type="form" name="contact-template-wizard-form-"/>
    <view-param name="popup" value="reload"/>
    <view-param name="forceEdit" value="true"/>
    <view-param name="width" value="800"/>
    <view-param name="show-confirm" value="false"/>
    <view-param name="show-toolbar" value="false"/>
  </action-view>

</object-views>