<?xml version="1.0"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views
  http://axelor.com/xml/ns/object-views/object-views_5.0.xsd">

  <menuitem name="menu-lot" title="Lots" order="4"/>
  <menuitem name="menu-vente" title="Ventes" order="5"/>
  <menuitem name="menu-affaire" title="Affaires" order="6"/>
  <menuitem name="menu-recouvrement" title="Recouvrement" order="7"/>
  <menuitem name="menu-mission" title="Missions" order="8"/>
  <menuitem name="menu-equipment" title="Matériels" order="9"/>
  <menuitem name="menu-vehicle" title="Véhicules" order="10"/>
  <menuitem name="menu-logistique" title="Logistique" order="11"/>

  <menuitem name="menu-equipment-all" parent="menu-equipment"
    title="Liste des lots matériels" action="equipment.all"/>
  <action-view name="equipment.all" title="Matériels"
    model="com.axelor.apps.openauction.db.Lot">
    <view type="grid" name="lots-list-grid"/>
    <view type="form" name="lot-card-form"/>
    <domain>self.missionLine.auctionMission = TRUE AND self.lotNatureCode.equipment
      = TRUE</domain>
  </action-view>

  <menuitem name="menu-vehicle-all" parent="menu-vehicle" title="Liste des véhicules"
    action="vehicle.all"/>
  <action-view name="vehicle.all" title="Véhicules"
    model="com.axelor.apps.openauction.db.Lot">
    <view type="grid" name="lots-list-grid"/>
    <view type="form" name="lot-card-form"/>
    <domain>self.missionLine.auctionMission = TRUE AND self.lotNatureCode.automotive
      = TRUE</domain>
  </action-view>

  <menuitem name="menu-lot-all" parent="menu-lot" title="Liste des lots" action="lot.all"/>
  <action-view name="lot.all" title="Lots" model="com.axelor.apps.openauction.db.Lot">
    <view type="grid" name="lots-list-grid"/>
    <view type="form" name="lot-card-form"/>
  </action-view>

  <menuitem name="menu-mission-vente-all" parent="menu-mission"
    title="Liste des missions de vente" action="mission.vente.all"/>
  <menuitem name="menu-mission-remise-all" parent="menu-mission"
    title="Liste des missions de remise de biens" action="mission.remise.all"/>
  <menuitem name="menu-mission-all" parent="menu-mission" title="Liste des missions"
    action="mission.all"/>

  <action-view name="nature.all" title="Liste des natures de lot"
    model="com.axelor.apps.openauction.db.LotNature">
    <view type="grid" name="lot-nature-grid"/>
    <view type="form" name="lot-nature-card-form"/>
  </action-view>

  <menuitem name="menu-vente-all" parent="menu-vente" title="Liste des ventes"
    action="vente.all"/>
  <action-view name="vente.all" title="Ventes"
    model="com.axelor.apps.openauction.db.AuctionHeader">
    <view type="grid" name="auction-list-grid"/>
    <view type="form" name="auction-card-form"/>
    <view type="calendar" name="auction-calendar-grid"/>
    <domain>self.template = FALSE</domain>
  </action-view>

  <action-view name="mission.remise.all" title="Liste des missions de remise de biens"
    model="com.axelor.apps.openauction.db.MissionHeader">
    <view type="grid" name="mission-header-grid"/>
    <view type="form" name="mission-header-form"/>
    <domain>self.auctionMission = FALSE</domain>
  </action-view>

  <action-view name="mission.vente.all" title="Liste des missions de vente"
    model="com.axelor.apps.openauction.db.MissionHeader">
    <view type="grid" name="mission-header-grid"/>
    <view type="form" name="mission-header-form"/>
    <domain>self.auctionMission = TRUE</domain>
  </action-view>

  <action-view name="mission.all" title="Liste des missions"
    model="com.axelor.apps.openauction.db.MissionHeader">
    <view type="grid" name="mission-header-grid"/>
    <view type="form" name="mission-header-form"/>
  </action-view>



</object-views>
